.bx-core-adm-dialog table.nextype-form-field-table {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.bx-core-adm-dialog table.nextype-form-field-table .nextype-delete-row {
    height: 15px;
    width: 15px;
    cursor: pointer;
    background: url(/bitrix/panel/main/images/popup_sprite.png) no-repeat 0 0;
    position: absolute;
    background-position: -7px -37px;
    right: 10px;
    top: 0;
}

.bx-core-adm-dialog table.nextype-form-field-table .nextype-form-props-row {
    display: none;
}

.bx-core-adm-dialog table.nextype-form-field-table.open-params .nextype-form-props-row {
    display: table-row;
}

.bx-core-adm-dialog table.nextype-form-field-table tr {
    
}

.bx-core-adm-dialog table.nextype-form-field-table tr:hover {
    
}

.bx-core-adm-dialog table.nextype-form-field-table tr td {
    
}

.bx-core-adm-dialog table.nextype-form-field-table td input {
    
}

.bx-core-adm-dialog table.nextype-form-field-table td.nextype-form-field-values textarea {
    width: 98%;
    height: 100px;
}

.bx-core-adm-dialog .nextype-form-actions {
    padding: 10px 5px 0 5px;
}

.bx-core-adm-dialog .nextype-form-actions .nextype-add-row,
.bx-core-adm-dialog .nextype-default-button {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
    box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255,255,255,.5);
    background-color: #e0e9ec;
    background-image: -webkit-linear-gradient(bottom,#d7e3e7,#fff)!important;
    background-image: -moz-linear-gradient(bottom,#d7e3e7,#fff)!important;
    background-image: -ms-linear-gradient(bottom,#d7e3e7,#fff)!important;
    background-image: -o-linear-gradient(bottom,#d7e3e7,#fff)!important;
    background-image: linear-gradient(bottom,#d7e3e7,#fff)!important;
    color: #3f4b54!important;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 29px;
    text-shadow: 0 1px rgba(255,255,255,0.7);
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    line-height: 29px;
    padding: 0 10px;
    text-decoration: none!important;
}

.nextype-form-field-label {
    
}

.nextype-form-field-input {
    
}